<section>
    {{ with .Site.Params.directions.title }}
    <h2>{{ . | markdownify }}</h2>{{ end }} {{ with .Site.Params.directions.content }}
    <p>Our address is rear 831-D Ann St., Stroudsburg, PA. We have off-street parking.</p>
    <p>{{ . | markdownify }}</p>{{ end }}
    <h3>FROM NEW YORK CITY</h3>
    <p><em>From lower Manhattan:</em> Take Route 495 west through the Lincon Tunnel. Continue on NJ-3 west and then US-46 west. Continue on I-80 west into Pennsylvania and take exit 307.</p>
    <p><em>From upper Manhattan:</em> Take I-95 west across the George Washington Bridge. Continue onto I-80 west into Pennsylvania and take exit 307.</p>
    <h3>FROM PHILADELPHIA</h3>
    <p>Lorem ipsum</p>
    <h3>FROM WILKES-BARRE</h3>
    <p>Take I-476 south. Take exit 95 and merge onto I-80 east. Continue on I-80 and take exit 307.</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.9673086185626!2d-75.19912828451673!3d40.982196679303385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c4884a4a79b995%3A0x3d491e5d74ab8352!2s831+Ann+St%2C+Stroudsburg%2C+PA+18360!5e0!3m2!1sen!2sus!4v1521512125502"
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>