<section>
    {{ with .Site.Params.directions.title }}
    <h2>{{ . | markdownify }}</h2>{{ end }} {{ with .Site.Params.directions.content }}
    <p>{{ . | markdownify }}</p>{{ end }}
    <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.9673086185626!2d-75.19912828451673!3d40.982196679303385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c4884a4a79b995%3A0x3d491e5d74ab8352!2s831+Ann+St%2C+Stroudsburg%2C+PA+18360!5e0!3m2!1sen!2sus!4v1521512125502"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>